@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  /* 書体の指定 */
  font-family: 'Merriweather', serif, 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif;
  line-height: 1.7;
  /*行の高さ(行間)の指定*/
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  /*リンク部分の下線をなくす*/
}

img {
  max-width: 100%;
  /*画像が親要素よりも大きくなることを防ぐ*/
  height: auto;
  /*アスペクト比を維持したまま画像サイズを変更*/
}

.title {
  color: #3d3d3d;
  display: block;
  text-align: center;
  font-size: 32px;
}

.header {
  background-color: rgba(250, 235, 215, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.header img {
  margin-left: 8px;
}

#cover {
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  display: none;
  cursor: pointer;
}

#cover.open {
  display: block;
}

.mobile-icon > .material-icons {
  font-size: 42px;
  line-height: 50px;
  color: olive;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -230px;
  z-index: 200;
  background-color: #a0a061;
  width: 230px;
  height: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.mobile-menu.open {
  -webkit-transform: translateX(-230px);
          transform: translateX(-230px);
}

.mobile-menu.open > .material-icons {
  font-size: 50px;
  line-height: 50px;
  color: #3d3d3d;
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
}

.mobile-menu ul {
  text-align: center;
  margin-top: 50px;
}

.mobile-menu ul li {
  list-style: none;
}

.mobile-menu ul li > a {
  color: antiquewhite;
  display: block;
  padding: 15px 0;
  border-top: 2px dotted antiquewhite;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mobile-menu ul li > a:hover {
  color: #3d3d3d;
}

.mobile-menu ul li:nth-of-type(4) {
  border-bottom: 2px dotted antiquewhite;
}

.navigation-menu {
  display: none;
}

.navigation-menu > li {
  list-style: none;
  line-height: 50px;
  outline: 2px dotted #c2c28a;
  outline-offset: -0.3rem;
  letter-spacing: 0.08rem;
}

.navigation-menu > li > a {
  color: olive;
  display: block;
  padding: 0 16px;
}

.navigation-menu > li:hover {
  outline: 2px dotted #3d3d3d;
}

.navigation-menu > li:hover > a {
  color: #3d3d3d;
}

#top {
  padding-top: 50px;
}

.wrapper {
  margin: 0 auto;
  /*中央に配置する指定*/
  padding: 0 6%;
  /*スマートフォン向けの余白の設定*/
  max-width: 1000px;
}

.top {
  position: relative;
  height: calc(100vh - 50px);
  background-image: url("../images/malta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top h1 {
  color: #3d3d3d;
  background-color: rgba(250, 235, 215, 0.7);
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  padding: 10px;
  width: 70%;
}

.top_footer {
  position: absolute;
  left: 50%;
  bottom: 110px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  height: 90px;
  width: 90px;
  border: 2px dotted olive;
  border-radius: 50%;
  background-color: rgba(250, 235, 215, 0.7);
}

.top_downarrow {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 6px;
  height: 50px;
}

.top_scrolltext {
  position: absolute;
  color: olive;
  left: 50%;
  top: 6px;
  font-size: 1.2em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile {
  min-height: 100vh;
  padding-top: 45px;
}

.profile .img-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile-image {
  width: 180px;
  height: 220px;
  border-radius: 10px;
  border: 2px dotted #3d3d3d;
  margin-top: 50px;
  margin-right: 45px;
}

.profile .japanese {
  border-bottom: 2px dotted #3d3d3d;
  font-size: 22px;
}

.profile .alphabet {
  font-size: 16px;
}

.profile .profile-text {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 88%;
  font-size: 0.9rem;
  font-family: serif;
}

.works {
  min-height: 100vh;
  padding-top: 60px;
}

.works > .title {
  margin-bottom: 35px;
}

.work-item {
  position: relative;
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-item .work-img {
  margin: 0 auto;
  width: 100%;
  height: 230px;
  display: block;
  margin-bottom: 3px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  border: solid 1px #000;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.work-item .work-img:hover {
  opacity: 0.7;
}

.work-item .work-name {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #3d3d3d;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(250, 235, 215, 0.7);
  padding: 4px;
  pointer-events: none;
}

.work-item .work-github {
  color: #000;
  -webkit-text-decoration: underline solid #000;
          text-decoration: underline solid #000;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.work-item .work-github:hover {
  opacity: 0.6;
}

.contact {
  min-height: 100vh;
  padding-top: 60px;
  width: 90%;
  max-width: 560px;
  margin: 0 auto;
}

.contact > .title {
  margin-bottom: 30px;
}

.sns-link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns-link p {
  color: #000;
  -webkit-text-decoration: underline solid #000;
          text-decoration: underline solid #000;
}

#thxMessage {
  color: blue;
  margin-bottom: 12px;
}

/*--------------------------------------
インプット
---------------------------------------*/
.msr_text_05 {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.msr_text_05 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

.msr_text_05 input {
  background: #fff;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.msr_text_05 input + p {
  color: red;
  display: none;
}

/*--------------------------------------
テキストエリア
---------------------------------------*/
.msr_textarea_05 {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}

.msr_textarea_05 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

.msr_textarea_05 textarea {
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 100%;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/
.msr_sendbtn_05 {
  margin: 0 0 10px;
}

.msr_sendbtn_05 input[type='button'] {
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 2px;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 180px;
  margin: 0 auto;
}

.msr_sendbtn_05 input[type='button']:hover {
  background-color: #999999;
  color: #ffffff;
}

.msr_sendbtn_05 input[disabled='disabled'] {
  cursor: not-allowed;
  opacity: 0.5;
}

.msr_sendbtn_05 input[disabled='disabled']:hover {
  background-color: #ffffff;
  color: #333333;
}

footer {
  background-color: rgba(250, 235, 215, 0.7);
  height: 40px;
}

footer .copy-right {
  display: block;
  text-align: center;
  line-height: 40px;
}

@media (min-width: 640px) {
  .title {
    font-size: 38px;
  }
  .mobile-icon > .material-icons {
    display: none;
  }
  .navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top h1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 32px;
    padding: 30px 18px;
    width: auto;
  }
  .top_footer {
    bottom: 40px;
  }
  .profile {
    padding-top: 85px;
  }
  .profile .profile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile .profile-content .img-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 55px;
  }
  .profile .profile-content .profile-image {
    width: 220px;
    height: 260px;
    margin: 70px auto 50px auto;
  }
  .profile .profile-content .japanese {
    font-size: 26px;
  }
  .profile .profile-content .alphabet {
    font-size: 20px;
  }
  .profile .profile-content .profile-text {
    margin: 0;
    max-width: 52%;
    font-size: 1.1rem;
  }
  .works-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-content .work-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */