@charset "utf-8";
$cBackground: rgba(250, 235, 215, 0.7);
$cTitle: #3d3d3d;

// 共通
html {
  font-size: 100%;
}

body {
  /* 書体の指定 */
  font-family: 'Merriweather', serif, 'Yu Gothic Medium', '游ゴシック Medium',
    YuGothic, '游ゴシック体', sans-serif;
  line-height: 1.7; /*行の高さ(行間)の指定*/
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none; /*リンク部分の下線をなくす*/
}

img {
  max-width: 100%; /*画像が親要素よりも大きくなることを防ぐ*/
  height: auto; /*アスペクト比を維持したまま画像サイズを変更*/
}
// 各項目のタイトル
.title {
  color: $cTitle;
  display: block;
  text-align: center;
  font-size: 32px;
}

// ヘッダー
.header {
  background-color: $cBackground;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;

  & img {
    margin-left: 8px;
  }
}

// ハンバーガーメニュー-------
#cover {
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  display: none;
  cursor: pointer;

  &.open {
    display: block;
  }
}

.mobile-icon {
  & > .material-icons {
    font-size: 42px;
    line-height: 50px;
    color: olive;
    cursor: pointer;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -230px;
  z-index: 200;
  background-color: rgb(160, 160, 97);
  width: 230px;
  height: 100%;
  transition: transform 0.4s;

  &.open {
    transform: translateX(-230px);

    & > .material-icons {
      font-size: 50px;
      line-height: 50px;
      color: $cTitle;
      position: absolute;
      top: 0px;
      right: 5px;
      cursor: pointer;
    }
  }
  & ul {
    text-align: center;
    margin-top: 50px;
    & li {
      list-style: none;

      & > a {
        color: rgb(250, 235, 215);
        display: block;
        padding: 15px 0;
        border-top: 2px dotted rgb(250, 235, 215);
        transition: color 0.3s;

        &:hover {
          color: #3d3d3d;
        }
      }
      &:nth-of-type(4) {
        border-bottom: 2px dotted rgb(250, 235, 215);
      }
    }
  }
}
//---------------------------------
// PC ナビゲーションメニュー
.navigation-menu {
  display: none;

  & > li {
    list-style: none;
    line-height: 50px;
    outline: 2px dotted rgb(194, 194, 138);
    outline-offset: -0.3rem;
    letter-spacing: 0.08rem;

    & > a {
      color: olive;
      display: block;
      padding: 0 16px;
    }
    &:hover {
      outline: 2px dotted $cTitle;

      & > a {
        color: $cTitle;
      }
    }
  }
}
#top {
  padding-top: 50px;
}

// メイン
.wrapper {
  margin: 0 auto; /*中央に配置する指定*/
  padding: 0 6%; /*スマートフォン向けの余白の設定*/
  max-width: 1000px;
}

//  Topの部分
.top {
  position: relative;
  height: calc(100vh - 50px);
  background-image: url('../images/malta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & h1 {
    color: $cTitle;
    background-color: $cBackground;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    padding: 10px;
    width: 70%;
  }
}
//Scrollナビゲーション
.hero_footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  z-index: 2;
  height: 90px;
  width: 90px;
  border: 2px dotted olive;
  border-radius: 50%;
  background-color: $cBackground;
}
.hero_downarrow {
  position: absolute;
  left: 50%;
  bottom: 8%;
  width: 6px;
  height: 50px;
}
.hero_scrolltext {
  position: absolute;
  color: olive;
  left: 50%;
  top: 6px;
  font-size: 1.2em;
  transform: translateX(-50%);
}

//  profile部分
.profile {
  min-height: 100vh;
  padding-top: 45px;

  & .img-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .profile-image {
    width: 180px;
    height: 220px;
    border-radius: 10px;
    border: 2px dotted $cTitle;
    margin-top: 50px;
    margin-right: 45px;
  }
  & .japanese {
    border-bottom: 2px dotted $cTitle;
    font-size: 22px;
  }
  & .alphabet {
    font-size: 16px;
  }
  & .profile-text {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 88%;
    font-size: 0.9rem;
    font-family: serif;
  }
}

// works部分
.works {
  min-height: 100vh;
  padding-top: 60px;

  & > .title {
    margin-bottom: 35px;
  }
}

.work-item {
  position: relative;
  width: 75%;
  height: auto;
  margin: 0 auto;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }

  & .work-img {
    margin: 0 auto;
    width: 320px;
    height: 230px;
    display: block;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border: solid 1px #000;
  }
  & .work-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cTitle;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    background-color: $cBackground;
    padding: 4px;
  }
}

// contact部分
.contact {
  min-height: 100vh;
  padding-top: 60px;
  width: 90%;
  max-width: 560px;
  margin: 0 auto;

  & > .title {
    margin-bottom: 30px;
  }
}
.sns-link {
  text-align: center;
}
#thxMessage {
  color: blue;
  margin-bottom: 12px;
}

/*--------------------------------------
インプット
---------------------------------------*/
.msr_text_05 {
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;

  & label {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
  }
  & input {
    background: #fff;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    width: 100%;

    & + p {
      color: red;
      display: none;
    }
  }
}
/*--------------------------------------
テキストエリア
---------------------------------------*/
.msr_textarea_05 {
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}
.msr_textarea_05 label {
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.msr_textarea_05 textarea {
  border: 1px solid #999999;
  box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 100%;
}

/*--------------------------------------
送信ボタン
---------------------------------------*/
.msr_sendbtn_05 {
  margin: 0 0 10px;
}

.msr_sendbtn_05 input[type='button'] {
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 2px;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  width: 180px;
  margin: 0 auto;

  &:hover {
    background-color: #999999;
    color: #ffffff;
  }
}
.msr_sendbtn_05 input[disabled='disabled'] {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: #ffffff;
    color: #333333;
  }
}

// フッター
footer {
  background-color: $cBackground;
  height: 40px;

  & .copy-right {
    display: block;
    text-align: center;
    line-height: 40px;
  }
}

// --------------------------------
// メディアクエリ----------------//

// タブレット・PCサイズ
@media (min-width: 640px) {
  .title {
    font-size: 38px;
  }

  .mobile-icon {
    & > .material-icons {
      display: none;
    }
  }
  .navigation-menu {
    display: flex;
  }
  // トップ部分
  .top {
    & h1 {
      transform: translate(-50%, -50%);
      font-size: 32px;
      padding: 30px 18px;
      width: auto;
    }
  }
  // プロフィール部分
  .profile {
    padding-top: 85px;

    & .profile-content {
      display: flex;
      justify-content: center;
      align-items: center;

      & .img-name {
        flex-direction: column;
        margin-right: 55px;
      }
      & .profile-image {
        width: 220px;
        height: 260px;
        margin: 70px auto 50px auto;
      }
      & .japanese {
        font-size: 26px;
      }
      & .alphabet {
        font-size: 20px;
      }
      & .profile-text {
        margin: 0;
        max-width: 52%;
      }
    }
  }
  // Work部分
  .works-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    & .work-item {
      flex-basis: 40%;
      margin-bottom: 12px;
    }
  }
}

